
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="navbar-main">
      <ul class="nav navbar-nav">
        <a class="homeLink" routerLink="/"><img class="logo" src="../assets/logo.png"></a>
        <li><a class="homeLink" routerLink="/">Home</a></li>
        <li><a class="aboutUsLink" routerLink="/">About Us</a></li>
        <li><a class="servicesLink" routerLink="/">Services</a></li>
        <li><a class="requestLink" routerLink="/">Request</a></li>
        <!-- <a routerLink="/register">Register</a> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign In</a></li>
        <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>



<router-outlet></router-outlet>


<footer class="page-footer font-small orange pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">



        <hr class="clearfix w-100 d-md-none pb-3">


        <div class="col-md-6 mt-md-0 mt-3 footer-par">

          <h5 class="text-uppercase">Unlimited Home Improvements</h5>
          <p>Family owned and operated. Unlimited Home Improvements & Landscaping is a New York based construction company. Our friendly team of professionals know what is the best fit for our customers requests.</p>

        </div>


        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Navigate</h5>

            <ul class="list-unstyled footer-nav">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a class="aboutUsLink" href="#">About Us</a>
              </li>
              <li>
                <a class="servicesLink" href="#">Services</a>
              </li>
              <li>
                <a class="requestLink" href="#">Requests</a>
              </li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Contact Us</h5>

            <ul class="list-unstyled">
              <li>
                <p>Sara - Sharok Yacobi</p>
              </li>
              <li>
                <p>(516)564-2999</p>
              </li>
              <li>
                <p>sharok@unlimitedhomeimprovements.com</p>
              </li>
              <li>
                <p>175 East Shore RD, Great Neck NY 11023</p>
              </li>
            </ul>

          </div>

      </div>

    </div>



<div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/GreatPricing/" target="_blank">
              <img src="https://image.flaticon.com/icons/png/512/69/69407.png" height= "50px">
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://www.yelp.com/biz/unlimited-home-improvements-great-neck" target="_blank">
              <img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/styleguide/e28eaa04bad1/assets/img/brand_guidelines/old_no_stroke.png" height= "50px">

            </a>
            
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>






    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="">UnlimitedHomeImprovements.com</a>
    </div>

  </footer>






    





