<div class="container">
  

  <div class="row">
    <div class="col-md-6">
  	<h1>Request a Quote</h1>
      <form (submit)="projectCreate()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="projectForm.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="projectForm.email">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" class="form-control" name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="projectForm.phoneNumber">
        </div>
        <div class="form-group">
          <label for="projectCategory">Project Category</label>
          <input type="text" class="form-control" name="projectCategory" placeholder="Enter Project Category" [(ngModel)]="projectForm.projectCategory">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="projectForm.description">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

</div>